
<h1>Welcome to my Halloween blog! Mwahahahaha!!!!</h1>
<hr/>
<h2>About</h2>
<div class="post">
    <p>This is an awesome blog and API about some spooky Halloween stuff with full functionality built in!
        <a href="/posts">Get to the posts now!</a>
</div>


<hr/>