
<div class="page">
    <h1>About</h1>
        <hr/>
    
        <p>This is an awesome blog built for posting about things that I enjoy!
            <a href="/posts">Get to the posts now!</a>
</div>


<hr/>