
<div class="page">
    <h1>About</h1>
        <hr/>
    
        <p>My Blog allows users write posts to this blog with full CRUD functionality.  Posts are time stamped and only the most recent 5 most recent posts are displayed.</p>
        <p>Greater functionality will be added to this site over time giving users the ability to search posts, login to their own personal blog to work with their posts, as well as topic board for the various different discussion topics.</p> 
        <hr/>   
        <a href="~/posts">Check out the Posts</a>
</div>

        