
<div class="page">
    <h1>About</h1>
        <hr/>
    <p>This site was built by Chris Grindereng. If you would like to view the source code check it out on <a href="https://github.com/ChrisGrindereng/BlogPost">GitHub</a>.</p>
    <p>If you would like to contact Chris email him at <a class="bttmIcons" href="mailto:chris.grindereng@gmail.com">chris.grindereng@gmail.com</a> </p>
    <p>Check out some other work by Chris on his portfolio at <a href="https://chrisgrindereng.github.io/profile/">www.chrisgrindereng.org</a></p>
</div>


<hr/>