
<h1>Welcome to my Halloween blog! Mwahahahaha!!!</h1>
<hr/>
<div class= "tag"><a href="/about">About this Blog!</a></div>
        <p>or</p>
<div class= "tag"><a href="/posts">Get to the Posts</a></div>
<hr/>







