*, *:before, *:after {
    box-sizing: border-box;
}

.grid {
    
    font-size: 0;
    & > * {
        display: inline-block;
        font-size: medium;
    }
    &:after {
        content:"";
        display: inline-block;
        width: 100%;
    }
}

// nabigation bar

.navbar {
  position: relative;
  z-index: 1000;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.navbar:before,
.navbar:after {
  display: table;
  content: " ";
}

.navbar:after {
  clear: both;
}

.navbar:before,
.navbar:after {
  display: table;
  content: " ";
}

.navbar:after {
  clear: both;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}

.navbar-header:before,
.navbar-header:after {
  display: table;
  content: " ";
}

.navbar-header:after {
  clear: both;
}

.navbar-header:before,
.navbar-header:after {
  display: table;
  content: " ";
}

.navbar-header:after {
  clear: both;
}

//body

body {

    background-image: url(http://img15.deviantart.net/8ce1/i/2005/258/c/9/paper_texture_v4_by_bashcorpo.jpg);
    height: 100%;
    width: 100%;
    font-family: Brush Script MT;
}

.tag{
    
    margin-top: 19px;
    font-size: x-large;
}

.post{
    width: 500px;
    border-radius: 5px;
    box-shadow: 0 5px .5rem rgba(50,10,0,.5);
    padding: 10px;
    margin: 10px;
    background-color: lightgray;
}
.edit{
    display: inline-block;
    
}
.delete{
    display: inline-block;
    
   
}

