@model Post

<div class="page">

<h3>Create a Post</h3>

<hr/>
</div>

<div class="post">
<form asp-controller="Post" asp-action="Create">
    
        <p><label asp-for="Title"></label></p>
        <p><input asp-for="Title"></p>
    
    
        <span><label asp-for="Content"></label></span>
        <p><textarea asp-for="Content"></textarea></p>
    
    <button type="submit">Post</button>
</form>
</div>