@model Blog

<div class="page">
<h1>The Posts!</h1>
    <p>Want to add a <a href="/posts/new">Post</a>?</p>
    <hr>
</div>

<div class="posts">
    @foreach(var post in @Model.getRecent()){
        @Html.Partial("ReadOne", post)
    }
</div>

<hr>





